<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CasparLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
    <userSettings>
        <CasparLauncher.Properties.Settings>
            <setting name="ForcedLanguage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OpenAtLogin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BufferLines" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="LauncherWindowPosX" serializeAs="String">
                <value>auto</value>
            </setting>
            <setting name="LauncherWindowPosY" serializeAs="String">
                <value>auto</value>
            </setting>
            <setting name="LauncherWindowWidth" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="LauncherWindowHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="Executables" serializeAs="String">
                <value />
            </setting>
        </CasparLauncher.Properties.Settings>
    </userSettings>
</configuration>
